
  *{box-sizing: border-box}



  body{
  /*background-color: black;*/
  font-family: Montserrat, sans-serif;
  /*overflow-y: hidden; */                /* hide scrollbars   */
  overflow-x: hidden !important; 
  padding: 0;
  margin: 0;
  padding-top: 50px;
/*  width: 100%;
  height: 100%;*/
  background: url("photog1.jpg") no-repeat center top fixed;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;

}
/*
.background{
  width:100%;
  max-width: 500px;
}*/

  .navbar {
      font-family: Montserrat, sans-serif;
      background-color: white;
      /*height:13%;*/
      font-size: 11px !important;
      /*padding: -9px !important; */
  }
  .navbar li a, .navbar { /* //font color of nav bar */
        color: #0E182C!important;
        text-decoration: none;
        color: #000000;
        font-family: Montserrat, sans-serif;
        font-size: medium;
        font-weight: 100;
        letter-spacing: 1px;
        /*height: 20%;*/

        

  }

  #signup-but{
    position: relative;
    color: #000;
    text-decoration: none;
  }

  #signup-but:hover{
   color: #000;
  }
  
  #signup-but:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#signup-but:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

  .navbar-nav li a:hover { /* //font color upon hover */
    
         }


  .navbar-nav li.active a { /* //font bg of active  */
    background-color: white !important;
    color: #ff8c5b!important;
    height: 10%;
  }
  .navbar-brand{
  color: #ff8c5b!important;
  margin-top: 1% !important;
  letter-spacing: 2px;
  }

.navbar-right{
}

/*.bar-align{
  margin-top:1.5%;
}
*/
/*#pwd-log{
  margin-left:3%;
}*/

#login-but{
  /*margin-left:15%;*/
  width: 100%;
  

}

#sign-but{
  min-height:6%;
  width:100%;
  background-color: #4CAF50;
}

/*.signup{
  padding-top:10%;
  margin: 5px 50px 5px 50px;
}*/


.box {
    padding: 0 10px 0 10px;
}

#home-but{

}

/*for responsive*/

*,
*:before,
*:after {
  box-sizing: inherit;
  /*will inherti from the box sizing*/
}
.grid{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 15%;
  position: inherit;  
  max-width: 100% !important;
  overflow-x: hidden !important;
  padding-left: 2.4%;
  opacity: 0.9;
}

.grid:before,
.grid:after,
.row:before,
.row:after{
  content: " ";
  display: table;
}


.grid:after,
.row:after{
  clear: both;

  /*not overlap*/
}
/*any class that has this class name*/
[class*="col-"]{
  width: 100%;
  float: left;
  min-height: 1px;
}

.col{
  padding: 1em;
  margin: 4px;
  background: white;
  border-radius: 3px;
  color:black;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  overflow-x: hidden;
}

#home img{

  /*background-image: url("moment1.jpg");*/
  background-size: 100% 100%;
  opacity:0.9;
  width:100% !important;
  height: 100% !important;

 }
 
 #home
 {
    padding-right: 0%;
}


/*media query*/
@media screen and (max-width: 800px) {
  .navbar.navbar-default {
      position:fixed; top:0; left:0; z-index:1030;*/
     padding-left: 20%;
   }

}


@media screen and (max-width: 499px){   

  /*499*/
.col-wd-1{width: 8.33%;
display: none;}
.col-wd-2{width: 16.67%;}
.col-wd-3{width: 25%;}
.col-wd-4{width: 33.33%;}
.col-wd-5{width: 41.67%;}
.col-wd-6{width: 50%;}
.col-wd-7{width: 58.33%;}
.col-wd-8{width: 66.67%;}
.col-wd-9{width: 75%;}
.col-wd-10{width: 83.33%;}
.col-wd-11{width: 91.67%;}
.col-wd-12{width: 100%;}
.col{
  margin-top: 15%;
}
}

/*gitna ito*/
@media screen and (min-width:500px){
.col-md-1{width: 8.33%;}
.col-md-2{width: 16.67%;}
.col-md-3{width: 25%;}
.col-md-4{width: 33.33%;}
.col-md-5{width: 41.67%;}
.col-md-6{width: 50%;}
.col-md-7{width: 58.33%;}
.col-md-8{width: 66.67%;}
.col-md-9{width: 75%;}
.col-md-10{width: 83.33%;}
.col-md-11{width: 91.67%;}
.col-md-12{width: 100%;}



}


@media screen and (min-width: 960px){
.col-xs-1{width: 8.33%;}
.col-xs-2{width: 16.67%;}
.col-xs-3{width: 25%;}
.col-xs-4{width: 33.33%;}
.col-xs-5{width: 41.67%;}
.col-xs-6{width: 50%;}
.col-xs-7{width: 58.33%;}
.col-xs-8{width: 66.67%;}
.col-xs-9{width: 75%;}
.col-xs-10{width: 83.33%;}
.col-xs-11{width: 91.67%;}
.col-xs-12{width: 100%;}

.col{
  margin-top: 1%;
}

}