*{box-sizing: border-box}



  body{
  font-family: Montserrat, sans-serif;             
  overflow-x: hidden !important; 
  padding: 0;
  margin: 0;
  padding-top: 50px;
  background-size: 100% 100%;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;


}
.navbar {
        font-family: Montserrat, sans-serif;
        font-size: 11px !important;
   
  }
  .navbar li a, .navbar {
        color: #0E182C!important;
        text-decoration: none;
        color: #000000;
        font-family: Montserrat, sans-serif;
        font-size: 110%;
        font-weight: 100;
        letter-spacing: 1px;
  }

  #signup-but{
    position: relative;
    color: #000;
    text-decoration: none;
  }

  #signup-but:hover{
   color: #000;
  }
  
  #signup-but:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#signup-but:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* .navbar-nav li.active a { 
    background-color: white !important;
    color: #ff8c5b!important;
    height: 10%;
  }
  .navbar-brand{
  color: #ff8c5b!important;
  margin-top: 1% !important;
  letter-spacing: 2px;
  }*/

#search-but{
  margin-top: 1%;
  margin-right: 3%;
  position: absolute;
  float: left;
  
}

#navbarsettings{
  position: absolute;
  width:100%;  
  top: 0%;
}

#navbar-fix{
  position: absolute;
  left:  100px;
}



/*for collapse navbar*/
#myNavbars{
  margin-top:-3%;
  margin-right: 15%;
  float: right;
  height: 28px;
}

#mySettings
{
  margin-top: -3.4%;
  margin-left:85%;
  position: absolute;
}

#dropdown-settings{
  margin-left: -360%;
  position: absolute;
  font-size: 110%;
  margin-top: 10%;
}

/*#listdropdown-name{
  font-weight: bold;
}
*/
form input[type="search"] {
  height: 25px;
  width: 170px;
  margin: 0;
  padding: 0;
  margin-top: 2% !important;
  margin-right: 5% !important;
  font-size: 120%;
  border: 1px solid #CCCCCC;
}
.logo{

        color: #F04A00!important;
        text-decoration: none;
        margin-left: 40%;
        margin-top: 1%;
        padding: 0;
        font-family: Montserrat, sans-serif;
        font-size: 150%;
        font-weight: 400;
        letter-spacing: 3px;
        position: absolute;
        display: inline-block;
}
